@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
font-family: 'Inter', sans-serif;
}

.dropdown{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    flex-direction: column;
    gap: 2px;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 5em;
    @apply bg-primC bg-opacity-20 p-2 rounded-lg text-base tracking-wide;
    font-size: 15px;
}

.dropdown:hover .dropdown-content {
    display: flex;
}


.dropdown-content a{
    display: block;
}